@model WebUI.Models.Games.GamesListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/JS/Games/main.js"></script>

<h2>List of Games</h2>
<button type="button" class="btn btn-success add">Add game</button>

<hr>
<div class="content">
    @foreach (var game in Model.Games)
    {
        <div class="row-entity" data-id="@game.GameId">
            <p>@game.Name</p>
            <div class="button-group">
                <button type="button" class="btn btn-primary detail">Details</button>
                <button type="button" class="btn btn-primary edit">Edit</button>
                <button type="button" class="btn btn-primary delete">Delete</button>
            </div>
        </div>
    }
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


