@model WebUI.Models.Games.GamesListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>List of Books and list of Customers together</h2>

<h4>List of Books</h4>
<ul>
    @foreach (var game in Model.Games)
    {
        <li>
            
        </li>
    }
</ul>

